body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card {
    width: 50vw;
    height: fit-content;
    border-radius: 30px;
    background: #e0e0e0;
    padding: 20px;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.card .title input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 16px;
    border: none;
    outline: none;
    box-shadow: 5px 3px 50px #bebebe;
    max-lines: 1;
    max-inline-size: 95%;
}

.card .desc textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.card span {
    margin-left: 10px;
    color: rgb(184, 178, 170);
}

.card .myButtons {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.card .myButtons button {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 16px;
    transition-duration: 500ms;
    background-color: rgb(184, 178, 170);
    color: #fff;
}

.card .myButtons .add:hover {
    background-color: green;
    color: white;
}

.card .myButtons .clear:hover {
    background-color: rgb(105, 182, 210);
    color: white;
}

.card .myButtons .cancel:hover {
    background-color: rgb(197, 10, 10);
    color: white;
}